* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik';
    src:
            url("../assets/fonts/Graphik-Bold.ttf") format("opentype");
            url("../assets/fonts/Graphik-Bold.woff") format("woff"),
            url("../assets/fonts/Graphik-Bold.woff") format("woff2");
    font-weight: 700;
    font-style: normal;
}


/* Default Reset */

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    color: #fff;
    background-color: #19191B;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

.hero-section {
    min-height: 100vh;
    background-image:
            url("../assets/images/hero-blur.svg"),
            url("../assets/images/hero-blur2.svg");
    background-position-y: -30px;
    background-position-x: 0, right;
    background-repeat: no-repeat;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: .6s;
}

.header.sticky {
    background-color: rgba(84, 84, 212, .98);
}

.header.sticky .header__container {
    padding: 15px 0;
}

.header.sticky .nav {
    color: #fff;
}

.header.sticky .nav-link:hover, .nav-link:active {
    color: #000;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.menu-toggle {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-size: 18px;
    transition: color .2s ease;
}

.nav-link:hover, .nav-link:active {
    color: #5454D4;
}

.button {
    display: inline-block;
    padding: 1em 2.75em;
    border-radius: .31em;
    font-family: inherit;
    font-size: 16px;
    background: 0;
    text-align: center;
    border: 1px solid #fff;
    color: inherit;
    cursor: pointer;
    transition: background-color .2s ease;
}

.button:hover {
    background-color: #5454D4;
}

.fade-in {
    animation: fade-in .4s forwards;
}

.fade-out {
    animation: fade-out .4s forwards;
}

@keyframes fade-in {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes fade-out {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}

@media screen and (max-width: 992px) {
    .header__button {
        display: none;
    }
}

@media screen and (max-width: 768px){
    .menu-toggle {
        z-index: 9999;
        color: green;
        display: inline-block;
        cursor: pointer;
    }

    .nav {
        position: fixed;
        z-index: 99;
        height: 100vh;
        width: 25%;
        top: 0;
        right: 100%;
        background-color: #000201;
        color: black;
    }

    .nav-list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item:first-child {
        border-top: 1px solid grey;
    }

    .nav-item {
        padding: 10px 0;
        width: 80%;
        text-align: center;
        border-bottom: 1px solid grey;
    }
}



/* Hero Section */

.hero {
    padding-top: 15vh;
}

.hero__container {
    display: flex;
}

.hero-info {
    padding-top: 13vh;
    max-width: 536px;
}

.hero-title {
    font-family: 'Graphik', sans-serif;
    margin-bottom: 24px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.05;
}

.hero-text {
    margin-bottom: 50px;
    line-height: 1.85;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -0.03em;
    text-align: left;
}

.hero-button {
    background-color: #5454D4;
    font-size: 20px;
    font-weight: 700;
    padding-left: 1.56em;
    border: 0;
    text-align: left;
    background-image: url("../assets/icons/button-arrow.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% right 35px;
}

.hero-image {
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
    .hero-title {
        font-size: 61px;
    }
    .hero-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    .hero-title {
        font-size: 70px;
    }
    .hero-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .hero__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px){
    .hero {
        padding-top: 0;
    }

    .hero-title {
        font-size: 42px;
    }
    .hero-text {
        font-size: 16px;
    }

    .hero-button {
        padding-left: 1.8em;
        font-size: 16px;
        background-position: bottom 50% right 15px;
    }
}

/* Why Us Section */

.why-us__container {
    padding-top: 140px;
}

.why-us__title {
    flex: 0 1 690px;
    font-family: 'Graphik', sans-serif;
    font-size: 60px;
    text-align: left;
    line-height: 1.16;
}

.why-us__info {
    display: flex;
    margin-bottom: 50px;
}

.why-us__text {
    padding-left: 20px;
    flex: 0 1 auto;
    color: rgba(255, 255, 255, .7);
    text-align: left;
    line-height: 1.85;
    letter-spacing: -0.03em;
}

.why-us__video {
    position: relative;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5454D4;
    border: 0;
    border-radius: 50%;
    height: 124px;
    width: 124px;
    cursor: pointer;
}

.video__button::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 20px solid #fff;
}

@media screen and (max-width: 576px) {
    .why-us__container {
        padding-top: 20px;
    }
    .why-us__title {
        font-size: 36px;
    }

    .why-us__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .why-us__info {
        flex-direction: column;
    }

    .why-us__title {
        flex: 0;
        margin-bottom: 30px;
    }

    .why-us__text {
        padding-left: 0;
    }
}

/* Services */

.background {
    background-image: url("../assets/images/services-bg.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.services {
    padding-top: 150px;
    background-image: url("../assets/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: left 15% bottom;
}

.services__background {
    margin: 0 auto;
    max-width: 1090px;
    background-image:
            url("../assets/icons/triangle.svg"),
            url("../assets/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

.services__title {
    margin: 0 auto;
    max-width: 695px;
    font-family: 'Graphik', sans-serif;
    text-align: center;
    font-size: 60px;
    line-height: 1.16;
}

.services-list {
    margin: 0 auto;
    padding: 0 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__title {
    margin-bottom: 98px;
}

.services-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

.services-list__item:nth-child(n + 4) {
    margin-top: 126px;
}

.services-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.services-list__icon svg {
    width: 32px;
    height: 32px;
}

.services-list__icon_blue {
    background-color: rgba(84, 84, 212, 0.1);
}

.services-list__icon_red {
    background-color: rgba(240, 64, 55, 0.1);
}

.services-list__icon_yellow {
    background-color: rgba(254, 220, 90, 0.1);
}

.services-list__title {
    font-size: 28px;
    font-weight: 600;
}

.services-list__subtitle {
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -0.025em;
}

/* Portfolio */

.background-second {
    background-image: url("../assets/images/portfolio-bg.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.portfolio {
    background-image:
            url("../assets/icons/circles.svg"),
            url("../assets/icons/line.svg");
    background-repeat: no-repeat;
    background-position: right 20% top 25%, left 15% bottom 14%;
}

.portfolio__title {
    font-size: 58px;
    font-weight: 800;
}

.portfolio__container {
    padding-top: 190px;
    padding-bottom: 140px;
}

.portfolio-works {
    display: none;
    width: 100%;
    justify-content: space-between;
    margin-top: 70px;
}

.portfolio-works_active {
    display: flex;
}

.portfolio-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-slider__buttons {
    margin-top: 50px;
    display: flex;
    gap: 8px;
}

.portfolio-slider__button {
    width: 8px;
    height: 8px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #121213;
    cursor: pointer;
}

.portfolio-slider__button_active {
    width: 16px;
    border-radius: 10px;
    background-color: #5454D4;
}

.portfolio-works__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 381px;
    height: 301px;
    border-radius: 14px;
    background-color: #1E1E20;
    cursor: pointer;
}

.portfolio-works__item:nth-child(2) {
    margin-top: 58px;
}

.portfolio-works__item:nth-child(3) {
    margin-top: 116px;
}

/* Contact Us */

.contact-us {
    background-color: rgba(30, 30, 32, 0.5);
}

.contact-us__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 187px 0;
    background-image:
            url("../assets/icons/circles.svg"),
            url("../assets/icons/cross-vert.svg");
    background-repeat: no-repeat;
    background-position: left bottom 10%, top 20% right;
}

.contact-us__title {
    font-family: 'Graphik', sans-serif;
    font-weight: 700;
    flex-basis: 826px;
    font-size: 60px;
    line-height: 1.1;
    text-align: left;
}

/* Footer */

.footer__container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-info {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.footer__copyright {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}


